
<div class="modal fade" id="modal_laporan" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen-lg-down ">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">LAPORAN</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="" method="POST" class="was-validated">
            {% csrf_token %}
            <div class="modal-body">
                <div class="d-flex mb-3 gap-2">
                      <input type="date" class="form-control"  required name="tgl1">
                      <span class="mt-2">SAMPAI</span>
                      <input type="date" class="form-control"  required name="tgl2">
                </div>
            </div>
            <div class="modal-footer ">
              <button type="submit" class="btn btn-primary">OK</button>
            </div>
          </form>
        </div>
      </div>
</div>


