{% extends 'base.html' %} 
{% load static %} 

{% block tambah_data %}

{%include 'partials/index_header.html' %}

<div class="container mt-5">
    <p class="text-center" style="font-size: 25px;">TAMBAH DATA RAPAT</p>
    <form action="{% url 'tambah_data_surat'%}" method="POST" enctype="multipart/form-data" class="needs-validation" novalidate >  
       {% csrf_token %}     

    
        <div class="row g-3 mb-3">
          <input type="date" class="form-control" required name="tanggal" >
           <input class="form-control" type="text" placeholder="NAMA" aria-label="default input example" name="nama" required >
           <input class="form-control" type="text" placeholder="NOMOR SURAT" aria-label="default input example" name="no_surat" required >
           <input class="form-control" type="text" placeholder="NOMOR KONTRAK" aria-label="default input example" name="no_kontrak" required >

           {% comment %} <input class="form-control" type="text" placeholder="JAM RAPAT" aria-label="default input example"  name="jam" required > {% endcomment %}

           <select class="form-select" aria-label="Default select example" name="jam" required  >
            <option value="">JAM RAPAT</option>
            <option value="8:00">8:00</option>
            <option value="9:00">9:00</option>
            <option value="10:00">10:00</option>
            <option value="11:00">11:00</option>
            <option value="13:00">13:00</option>
            <option value="14:00">14:00</option>
            <option value="15:00">15:00</option>
          </select>

        </div>
      
        
        <input class="form-control " type="file" accept=".pdf" id="file_input" name="file_name" required />
        
        <div class="d-grid gap-2 col-3 mx-auto mt-4">
            <button type="submit" class="btn btn-success">PROSES</button>
        </div>
  </form>
</div> 


{% endblock tambah_data %}